@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  font-family: "Karla", sans-serif;
  box-sizing: inherit; 
}


::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background: #333333;
  border-radius: 10px;
  margin: 18px 0 18px 0;
}
::-webkit-scrollbar-thumb {
  background: #535353;
  border-radius: 5px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: #5c5b5b;
}